#audioDiv {
    display: none;
    flex-direction: column;
    align-items: stretch;
}

#music_screen {}

.icon {
    align-self: center;
    flex-grow: 0;

    margin: 0;
    height: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.front_ground {
    flex-grow: 1;
    max-width: 100%;
    height: calc(100vh - 70px);

    background-color: gray;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
}

.back_ground {
    z-index: 0
}